.logo {
	background-color: #FFCB5E;
	padding: 55px 70px;
	color: red;
	font-weight: bolder;
	font-size: 30;
	font-family: verdana;
	font-style: italic;
}
span {
	color: #FFCB5E;
	background-color: black;
	padding: 0 40px;
	font-family: arial;
	font-size: 22;
}
p {
	font-family: verdana;
	width: 600px;
	float: left;
	padding-left: 25px;
	font-size: 14;
}
.body {
	background-color: white;
}
.title {
	font-family: verdana;
	font-size: 30;
	color: #FFCB5E;
}
.bar {
	background-color: black;
	width: 1264px;
	height: 40px;
	margin-top: 2px;
}
img {
	float: right;
	margin: 100px 30px;
}